# Checkpoint 0

These exercises are a mix of Python and Pandas practice. Most should be no more than a few lines of code!

In [22]:
# here is a Python list:

a = [1, 2, 3, 4, 5, 6]

In [23]:
# get a list containing the last 3 elements of a
# Yes, you can just type out [4, 5, 6] but we really want to see you demonstrate you know how to use list slicing in Python
a[-3:]

[4, 5, 6]

In [30]:
# create a list of numbers from 1 to 20
def list_maker(num):
    nwlst=[]
    for item in range(1,num):
        nwlst.append(item)
    return nwlst
list_maker(21)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [31]:
# now get a list with only the even numbers between 1 and 100
# you may or may not make use of the list you made in the last cell
def list_maker(num):
    nwlst=[]
    for item in range(1,num):
        if item%2==0:
            nwlst.append(item)
    return nwlst
list_maker(101)

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [32]:
# write a function that takes two numbers as arguments
# and returns the first number divided by the second
def num_divider(num1,num2):
    return num1/num2
num_divider(20,10)

2.0

In [34]:
# write a function that takes a string as input
# and return that string in all caps
def string_cap(string):
    return string.upper()
string_cap("hello")

'HELLO'

In [37]:
# fizzbuzz
# you will need to use both iteration and control flow 
# go through all numbers from 1 to 30 in order
# if the number is a multiple of 3, print fizz
# if the number is a multiple of 5, print buzz
# if the number is a multiple of 3 and 5, print fizzbuzz and NOTHING ELSE
# if the number is neither a multiple of 3 nor a multiple of 5, print the number

def fizzbuzz(num):
    for item in range(1,num):
        if item%3==0 and item%5==0:
            print("fizzbuzz")
        if item%3==0:
            print("fizz")
        if item%5==0:
            print("buzz")
        if item%3!=0 and item%5!=0:
            print(item)
fizzbuzz(31)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
fizz
buzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
fizz
buzz

In [11]:
# create a dictionary that reflects the following menu pricing (taken from Ahmo's)
# Gyro: $9 
# Burger: $9
# Greek Salad: $8
# Philly Steak: $10
d={Gyro:$9, Burger:$9, Greek Salad:$8, Philly Steak:$10}

In [12]:
# load in the "starbucks.csv" dataset
# refer to how we read the cereal.csv dataset in the tutorial
import pandas as pd
df = pd.read_csv("../data/starbucks.csv")
df.head(70)

,beverage_category,beverage,beverage_prep,calories,total fat,trans fat,saturated fat,sodium,total carbohydrates,cholesterol,dietary fibre,sugars,protein,vitamin a,vitamin c,calcium,iron,caffeine
0,coffee,brewed coffee,Short,3,0.1,0.0,0.0,0,5,0,0,0,0.3,0,0,0,0.0,175.0
1,coffee,brewed coffee,Tall,4,0.1,0.0,0.0,0,10,0,0,0,0.5,0,0,0,0.0,260.0
2,coffee,brewed coffee,Grande,5,0.1,0.0,0.0,0,10,0,0,0,1.0,0,0,0,0.0,330.0
3,coffee,brewed coffee,Venti,5,0.1,0.0,0.0,0,10,0,0,0,1.0,0,0,2,0.0,410.0
4,classic espresso drinks,caff latte,Short Nonfat Milk,70,0.1,0.1,0.0,5,75,10,0,9,6.0,10,0,20,0.0,75.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,signature espresso drinks,caramel macchiato,Tall Nonfat Milk,140,1.0,0.5,0.0,5,105,25,0,24,8.0,15,0,25,0.0,75.0
66,signature espresso drinks,caramel macchiato,2% Milk,180,5.0,3.0,0.1,20,115,25,0,23,8.0,15,0,25,0.0,75.0
67,signature espresso drinks,caramel macchiato,Soymilk,150,4.5,1.0,0.0,0,90,21,1,17,7.0,10,0,25,10.0,75.0
68,signature espresso drinks,caramel macchiato,Grande Nonfat Milk,190,1.0,1.0,0.0,10,130,35,0,32,11.0,20,0,35,0.0,150.0
69,signature espresso drinks,caramel macchiato,2% Milk,240,7.0,3.5,0.2,25,150,34,0,32,10.0,15,2,30,0.0,150.0

In [10]:
# output the calories, sugars, and protein columns only of every 40th row. 
import pandas as pd
df = pd.read_csv("../data/starbucks.csv")
df.iloc([3,11,12])
df.iloc(::40)

SyntaxError: invalid syntax (3970565789.py, line 5)

In [14]:
# select all rows with more than and including 400 calories
df["calories"]>=400

In [15]:
# select all rows whose vitamin c content is higher than the iron content
df[df["vitamin c"]>df['iron']]

In [16]:
# create a new column containing the caffeine per calories of each drink
df["caff cont"]= df["caffeine"]/df["calories"]

In [17]:
# what is the average calorie across all items?
df["average"]= df["beverage"][0:]/ df["calories"][0:]

In [18]:
# how many different categories of beverages are there?
# there are 3 categories: coffee, classic espresso, signature espresso

In [19]:
# what is the average # calories for each beverage category?
df["average"]= df["beverage_category"][0:]/ df["calories"][0:]